<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZJLStatisticsGraphViewExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA01B3341D2DDC70002948DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA01B34D1D2DDC70002948DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA01B3581D2DDC70002948DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
